body {
    background-image: linear-gradient(120deg, #e2c35d, #d88771);
}
.output {
    background-color: black;
    color: white;
    width: 600px;
    height: 40px;
    font-size: 26px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 1rem;
}
.inputs {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    justify-items: space-around;
}
.input {
    margin: 5px;
    border: 1px solid black;
    padding-left: 1rem;
    border-radius: 5px;
    background-color: lightgray;
    font-size: larger;
}
.cmd {
    width: 100px;
    height: 35px;
    background-color: black;
    border: 1px solid white;
    border-radius: 10px;
    text-align: center;
    padding-top: 15px;
}